---
- name: Install GPS prerequisites.
  ansible.builtin.apt:
    name:
      - gpsd
      - gpsd-clients
      - socat
    state: present

- name: Configure gpsd.
  ansible.builtin.lineinfile:
    dest: /etc/default/gpsd
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  notify: Restart gpsd
  with_items:
    - regexp: '^DEVICES='
      line: 'DEVICES="{{ gpsd_devices }}"'
    - regexp: '^GPSD_OPTIONS='
      line: 'GPSD_OPTIONS="{{ gpsd_options }}"'

- name: Configure gpsd service.
  ansible.builtin.service:
    name: gpsd
    state: "{{ gpsd_state }}"
    enabled: "{{ gpsd_enabled }}"

- name: Copy gpspipe-socat systemd unit file into place.
  ansible.builtin.template:
    src: gpspipe-socat.unit.j2
    dest: /etc/systemd/system/gpspipe-socat.service
    owner: root
    group: root
    mode: 0755
  notify: Restart gpspipe-socat

- name: Configure gpspipe-socat service.
  ansible.builtin.service:
    name: gpspipe-socat
    state: "{{ gpspipe_socat_state }}"
    enabled: "{{ gpspip_socat_enabled }}"
